// Font
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;500;600;700;900&display=swap');

@font-face {
  font-family: "Avenir";
  src: url("./assets/Avenir.ttc") format("truetype");
}

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Avenir';
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

//Global
button {
  background-color: #C17E8F;
  color: #ffff;
  font-size: 1.5rem;
  font-family: 'Avenir';
  font-weight: 300;
  padding: 0.5vh 1.5vw;
  border-radius: 33px;
}

// Main
main {
  display: flex;
  align-items: center;
  margin: 0vh 10% 0 10%;

  .main-text {
    flex: 1;
    align-items: center;
    
    h1 {
      color: #4A3654;
      font-size: 9rem;
      font-weight: 900;
      z-index: 2;
      font-family: 'Vollkorn';
      line-height: 8rem;
      margin-bottom: 5vh;
    }

    p {
      color: #4A3654;
      font-size: 1.5rem;
      padding: 0 10vw 0 0vw;
      font-weight: 400;
      font-family: 'Avenir';
    }

    button {
      margin-top: 6vh;
    }
  }

  .main-image {
    flex: 1;
    z-index: -1;
      
    img {
      width: 40vw;
      height: auto;
      margin-left: -8vw;
    }
  }
}

// Abdominoplasty Cases
.abdominoplasty-cases {
  display: flex;
  align-items: center;
  margin: 7vh 10% 0 10%;
  flex-direction: column;
  
  h2 {
    color: #433648;
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
  }

  .card-grid {
    display: flex;
    flex-direction: row;
    
    .card {
      padding: 1rem 1rem;
      text-align: center;
      
      h3 {
        color: #433648;
        font-size: 2rem;
        font-weight: 900;
        text-align: left;
        margin-bottom: 1.5rem;
      }

      p {
        color: #504957;
        font-size: 1.4rem;
        text-align: left;
      }
    }
  }

  button {
    margin: 10vh 0vw;
  }
}

//Divider Image
.divider-image {
  margin-bottom: -30rem;
}

//Presentation
.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;

  .presentation-container {
    display: flex;
    flex-direction: column;
    align-items: center;  
    background: rgba(255, 255, 255, 0.85);
    padding: 5rem 8rem;
    margin: 0rem 5rem;

    h2 {
      font-size: 4.5rem;
      font-family: 'Vollkorn';
      color: #4A3654;
      margin-bottom: 5vh;
    }

    p {
      color: #6F5260;
      font-size: 1.5rem;
    }

    button {
      margin: 5vh 0 3vh 0;
    }
  }
}

// Feedback
.feedback {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0vh 0 10vh 0;
  
  div {
    padding: 3vh 15vw;

    h2 {
      font-size: 2.5rem;
      font-weight: 900;
      text-align: center;
      color: #433648;
      margin-bottom: 3vh;
    }

    p {
      font-size: 1.6rem;
      text-align: center;
      color: #504957
    }
  }
}

// Info
.info {
  margin: 9vh 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.85);

  h2 {
    color: #6F5260;
    font-size: 5rem;
    font-weight: 900;
  }

  .info-card {
    .info-asset {
      height: 5vh;
      width: auto;
    }
  
    p {
      color: #6F5260;
      font-size: 1.4rem;
    }
  }
}

.slider {
  margin: 4vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    color: #433648;
    font-size: 5rem;
    font-weight: 900;
  }

  h3 {
    color: #433648;
  }

  .swiper {
    // padding: 10rem;
    width: 100%;
    height: 466px;
    margin: 100px 0;

    .slider-1 {
      background-image: url("/assets/images/slider-1.png");
      background-size: cover;
      width: 366px;
      height: 466px;
    }

    .slider-2 {
      background-image: url("/assets/images/slider-2.png");
      background-size: cover;
      width: 366px;
      height: 466px;
    }

    .swiper-button-lock {
      display: flex;
    }

    .swiper-button-prev, .swiper-button-next {
      width: 50px;

      &::after {
        content: '';
        width: 41px;
        height: 60px;
        background-size: contain;
      }
    }

    .swiper-button-prev::after {
      background-image: url('/assets/images/left-arrow.svg');
    }

    .swiper-button-next::after  {
      background-image: url('/assets/images/right-arrow.svg');
    }
  }
}

.contact {
  display: flex;
  flex-direction: row;
  padding: 10rem;
  background-image: url('../assets/images/contact-background.png');
  background-size: cover;
  background-position: center;
  
  .contact-info {
    flex: 1;

    h2 {
      font-size: 8rem;
      line-height: 7rem;
      color: #FFFBFB;
      font-family: 'Vollkorn';
      text-align: left;
      padding: 0vh 0vw 10vh 0vw;
    }

    .contact-number {
      p {
        font-size: 1.7rem;
        color: #FFFBFB;
        font-family: 'Vollkorn';
      }

      .contact-social {
        margin-top: 3vh;
        
        .social {
          display: flex;
          flex-direction: row;
          margin: 2vh 0;
          
          .social-logo {
            width: 2.5vw;
            height: auto;
            margin-right: 0.5vw;
          }
        }
      }
    }
  }

  .contact-box {
    flex: 1;
    padding: 15vh 0vw 0vh 0vw;
    margin-left: -10vw;
    
    form {
      display: flex;
      flex-direction: column;
    }
    
    label, input, textarea {
      margin-bottom: 10px;
    }
    
    textarea {
      height: 150px;
      background: rgba(255, 255, 255, 0.69);
      font-size: 1rem;
      border: none;
      resize: none;
    }
    
    input {
      padding: 10px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: rgba(255, 255, 255, 0.69);
      font-size: 1rem;
    }

    button {
      margin-top: 3vh;
    }
    
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.85);
  padding: 2rem;

  p {
    color: #504957;
    font-size: 1.3rem;
  }
}